body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
}

main {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

section {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    grid-gap: 10px; /* Espacio entre imágenes */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
}

main {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

section {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.primaria {
    background-color: #f7dc6f;
    margin-bottom: 20px; /* Agrega un margen inferior para separar las secciones */
}

.secundaria {
    background-color: #82e0aa;
}


